.sidebar {
    float : left;
    
}

.game {
    float : left;
}

body {
    background-image: url("img/back.jpg");
}
.choose_gameplay {
    text-align: center;
    padding-top: 15%;
}

.choose_player_btn {
    padding: 15px;
    margin: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}


#active_players {
    margin-left: auto;
    margin-right: auto;
}

#active_players li {
    border : 1px solid black;
    list-style-type: none;
    text-align: center;
    padding: 10px 0px 10px 0px;
}


.hidden {
    display: none;
}

.available {
    background-color: green;
}

.busy {
    background-color: red;
}